

span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}