*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todo-container{
    min-height: 100vh;
    background-color: rgb(192, 26, 51);
    padding-top: 100px;
}

h1{
    text-align: center;
  
    color: white;
    font-size: 50px;
}

form{
    display: block;
    margin: 10px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    max-width: 500px;

    padding: 10px;
}
form input{
    flex: 1;
    border: none;
    outline: none;
    color: rgb(22, 22, 18);
    font-size: 15px;
}

form button{
    background: red;
    color: white;
    padding:5px 10px;
    border: none;
    cursor: pointer;
}

.task{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
}
.task .task-left{
    display: flex;
    align-items: center;
}
.task .task-left .name{
    color: black;
    margin-left: 10px;
    font-size: 16px;
}
.task .task-left input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task .task-right{
    cursor: pointer;
}

